// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

html, body, .body {
   background: #f2f2f2;
   background-color: #f2f2f2;
}

// p, h1, h2, h3, h4, ol, li, ul {
//    font-family: 'Poppins', 'Helvetica', sans-serif;
// }

// Header
.header {
   background: #fff;
   background-color: #fff;
   vertical-align: middle;

   .columns {
      padding-bottom: 25px;
      padding-right: 25px !important;
      padding-left: 25px !important;
      padding-top: 25px;

      @media only screen and (max-width: 500px) {
         vertical-align: middle;
         padding-top: 10px;
         padding-bottom: 10px;
      }

      .coupons-logo {
         width: 75px;
      }
      p {
         color: #7c7c7c;
         font-size: 10px;

         a {
            font-size: 10px;
            color: #7c7c7c;
         }
      }
   }
}

.sub-header {
   background: #f6f6f6;
   background-color: #f6f6f6;

   .columns {
      padding-bottom: 20px;
      padding-right: 20px !important;
      padding-left: 20px !important;
      padding-top: 20px;

      @media only screen and (max-width: 500px) {
         display: inline-block !important;
         width: 100% !important;
      }


      p {
         text-align: center;
         margin-bottom: 0;
      }

      a {
         color: #5c5c5c;
         font-size: 13px;
         text-align: center;
      }

      th {
         text-align: center;
      }
   }
}

// .row {
//    .valign-middle {
//       vertical-align: middle;
//    }
// }


// BANNER IMAGE
.banner-image {

      width: 100%;

}

// SPACER
.spacer {
   background: #f3f3f3;
   background-color: #f3f3f3;
}

// COUPONS SECTION

.coupons-row {
   background: #f3f3f3;
   background-color: #f3f3f3;
   padding-right: 10px !important;
   padding-left: 10px !important;

   th.columns {

      @media only screen and (max-width: $global-breakpoint) {
         padding-left: 8px !important;
         padding-right: 8px !important;
      }
   }
   .columns {
      padding-bottom: 0;

      .callout-inner {
         background: #fff;
         background-color: #fff;
         border: none;
         border-radius: 4px;
         padding: 20px;
         box-shadow: 0 2px 4px 0 #dddddd;
      }

      .item-image {
         padding-top: 20px;

         img {
            width: 76px;
         }
      }

      .link-icon {
         padding-bottom: 20px;

         img {
            width: 36px;
         }
      }

      h3 {
         color: #000;
         font-size: 20px;
         font-weight: 700;
         margin-bottom: 5px;
      }

      p {
         padding-top: 10px;
         margin-bottom: 0;
      }
   }
}

// CASH BACK BUTTON
.container.cashBack {
   background: #f3f3f3;
   background-color: #f3f3f3;
   padding-top: 10px;

   table.button {
      margin-bottom: 0;

      td {
         background: #209dff;
         background-color: #209dff;
         border-radius: 25px;

         a {
            font-weight: 600;
            font-size: 18px;
            padding-top: 13px;
            padding-bottom: 13px;
         }
      }
   }
}


// FOOTER

table.footer {
   box-sizing: padding-box;

   td {
      padding-top: 40px;
      padding-bottom: 20px;
   }
   .footer-links {
      color: #7c7c7c;
      font-size: 11px;
      font-weight: 600;
      margin-bottom: 10px;

      a {
         font-size: 11px;
         color: #7c7c7c;
         font-weight: 600;
      }
   }
   p {
      font-size: 10.5px;
      color: #666666;
   }
   .unsub {
      padding-right: 35px;
      padding-left: 35px;
      margin-bottom: 25px;

   }
   .coupons-img {
      margin-top: 30px;
   }
   img {
      width: 107px;
   }

}
