<!-- FOOTER -->
<container class="footer">
   <row>
      <p class="footer-links text-center">
         <a href="#">Help</a>
         &nbsp;|&nbsp;
         <a href="#">Unsubscribe</a>
      </p>

      <p class="text-center unsub">Please note it may take seven to ten days to process your unsubscribe request. You may continue to receive our emails during that time. The Coupons.com logo is a trademark of Quotient Technology Inc.</p>

      <p class="footer-links text-center">
         <a href="#">Privacy Policy</a>
         &nbsp;|&nbsp;
         <a href="#">CA Privacy Notice</a>
      </p>

      <p class="coupons-img text-center">
         <a href="#">
            <center>
               <img src="{{ root }}/assets/img/images/logo_footer.png" alt="">
            </center>
         </a>
      </p>

      <p class="text-center">
         400 Logue Avenue<br>
         Mountain View, CA 94043
      </p>
   </row>
</container>
