<!-- HEADER -->
<container>
   <row class="header" valign="middle">
      <!-- logo -->
      <columns small="4" large="6" style="padding-left: 35px !important">
         <img src="{{ root }}/assets/img/images/logo.webp" class="coupons-logo" alt="Coupons.com Logo"> <!--{{root}} gives location of the project-->
      </columns>
      <!-- links -->
      <columns small="8" large="6" style="padding-right: 35px !important">
         <p class="text-right">
            <a href="#">View in Browser</a>
            &nbsp;|&nbsp;
            <a href="#">Unsubscribe</a>
         </p>
      </columns>
   </row>
   <!-- Navigation -->
   <row class="sub-header">
      <columns small="4">
         <p>
            <a href="#" class="text-center">Printable Coupons</a>
         </p>
      </columns>
      <columns small="4">
         <p>
            <a href="#" class="text-center">Digital Coupons</a>
         </p>
      </columns>
      <columns small="4">
         <p>
            <a href="#" class="text-center">Coupon Codes</a>
         </p>
      </columns>
   </row>
</container>
